<!DOCTYPE html>
<html>
    <head>
        <title>Green</title>
        <style>
            body {
                background-color: #00FF00;
                text-align: center;
                color: black;
            }

            .container {
                text-align : center;
                padding : 25px ;
                font-size: xx-large;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <h1>Green page</h1>
            <h3>This is EKS Green Server</h3>
    </body>
</html>