<!DOCTYPE html>
<html>
    <head>
        <title>Cloud Computing Page!</title>
        <style>
            body {
                background-color: #ffffff;
                text-align: center;
                color: black;
            }

            .container {
                text-align: center;
                padding: 25px;
                font-size: xx-large;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Cloud Computing Page!</h1>
            <h3>Welcome to Public Cloud on AWS</h3>
        </div>
        <img src="{{ image_file }}" height="60%" width="32%">
    </body>
</html>
